<div *ngIf="foodItem">
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Id</span><span class="fooditem-edit-column-2">{{foodItem.id}}</span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Name</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.name" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Carbs</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.carbs" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Sugars</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.sugars" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Fats</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.fats" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Saturates</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.saturates" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Protein</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.protein" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Fibre</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.fibre" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Sodium</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.sodium" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Per Unit</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.units" /></span>
  </div>
</div>
<div>
  <p>
    <span><button type="button" (click)="onSave(foodItem)">Save</button></span>
  </p>
  <p>
    <a href="fooditempicker">Cancel</a>
  </p>
</div>
