<div *ngIf="foodItem">
  <div *ngIf="foodItem.id!==0" class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Id</span><span class="fooditem-edit-column-2">{{foodItem.id}}</span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Name</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.name"  maxlength="200" /></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Carbs</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.carbs"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Sugars</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.sugars"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Fats</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.fats"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Saturates</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.saturates"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Protein</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.protein"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Fibre</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.fibre"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Sodium</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.sodium"  maxlength="25"/></span>
  </div>
  <div class="fooditem-edit-row">
    <span class="fooditem-edit-column-1">Per Unit</span><span class="fooditem-edit-column-2"><input [(ngModel)]="foodItem.units"  maxlength="25"/></span>
  </div>
</div>
<div>
  <p>
    <span><button type="button" (click)="onSave(foodItem)">Save</button></span>
  </p>
  <p>
    <a href="fooditempicker">Cancel</a>
  </p>
</div>
